/* Style */
html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  background: linear-gradient(to bottom, #1e528e 0%, #2d91c2 100%);
  overflow: hidden;
}

.fix{
    position:fixed;
    bottom:0px;
/*    left:50%;*/
    width: 100%;
}

.cloud1 {
  position: absolute;
    top: 50%;
    left: 50%;
  width: 5%;
/*  animation: move 55s linear infinite;*/
    animation: grow 55s linear infinite;
}

.cloud2 {
  position: absolute;
  width: 100%;
  bottom: 0;
  animation: move 35s linear infinite;
    z-index: 5;
    mix-blend-mode:luminosity;
}

.cloud3 {
  position: absolute;
  width: 40%;
  top: 10%;
  animation: move 35s linear infinite;
    z-index: 5;
}

.cloud4 {
  position: absolute;
  width: 40%;
  top: 22%;
  animation: move 35s linear infinite;
    z-index: 5;
}

.cloud5 {
  position: absolute;
  width: 40%;
  right: 30%;
  animation: move 35s linear infinite;
    z-index: 5;
}
.bg {
  position: relative;
  width: 100%;
  height: 130vh;
/*  background: url('../img/bg.jpg');*/
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg #text {
  position: relative;
  font-size: 120px;
  color: #fff;
  opacity: 0.6;
}
.bg .fog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
.bg .fog img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: fog_effect calc(3s * var(--i)) ease-in infinite;
}
@keyframes fog_effect {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}

@keyframes grow {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(10, 10);
  }
}

