@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e4c53;
}
#background-images {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
}

.theTime {
  color: tomato;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4vw;
  z-index: 9;
/*  transition:left 1s linear;*/
  transition:top 1s linear;
}

.theTimeHigher {
    top: -3%;
/*    left: 80%;*/
/*    transition:left 1s linear;*/
    transition:top 1s linear;
}

#bgImg1, #bgImg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  /* background-size: cover; */
  background-size: 50%;
  background-repeat: no-repeat;
}

#bgImg1 {
  background-image: url("../../../_ImageSets/2019-08-15/01.jpg");
}
#bgImg2 {
  background-image: url("../../../_ImageSets/2019-08-15/02.jpg");
}

#background-images div.front {
  z-index: 3;
}
#background-images div.back {
  z-index: 2;
}

#main {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  /* border-right: 12px solid steelblue; */
  background-color: #2E3033;
  display: block;
  /* mix-blend-mode: lighten; */
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  /* padding-bottom: 60px; */
/*  height: 120px;*/
  height: 5px;
  overflow: auto;
  white-space: nowrap;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

#main a {
  padding: 4px 10px;
  /* padding-top: 30px; */
  text-decoration: none;
  color: whiteSmoke;
  opacity: .5;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  /* margin-top: 250px; */
  position: relative;
/*  top: 30px;*/
}

.page {
  margin-top: 100px;
}
#main a:hover {
  color: crimson;
  /* font-weight: 900; */
  font-family: 'Montserrat', sans-serif;
   /* padding: 10px; */
  transition: 0.3s;
}
#main a:active {
  color: #000;
}
#main a[tabindex]:focus {
    color:crimson;
    font-weight: 900;
    outline: none;
    content: "\00BB";
    margin-right: 6px;
    border-bottom: 2px solid crimson;
}

.nav {
        color: #fff;
      }

.nav:hover {
        color: crimson;
      }

::-webkit-scrollbar {
    		display: none;
		}

/* top menu format begin*/

.menu-wrapper {
  position: relative;
  max-width: 100%;
  height: 120px;
  margin-left: 1em auto;
  margin-right: 1em auto;
/*  border: 1px solid black;*/
  overflow-x: hidden;
  overflow-y: hidden;
  color: #fff;
}
.menu-menu {
/*  height: 120px;*/
/*  background: #f3f3f3;*/
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  margin: 0;
  margin-left: 0px;
  margin-right: 25px;
}
.menu-menu .menu-item {
  display: inline-block;
/*  width: 100px;*/
  height: 120px;
/*  line-height: 120px;*/
    display: inline-block;
  vertical-align: middle;
/*  line-height: normal;*/
/*  outline: 1px dotted gray;*/
  padding: 1em;
  box-sizing: border-box;
  margin-top: 18px;
}
.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 120px;
  width: 3em;
  background-color: deepskyblue;
  border: 0;
  outline: none;
/*  opacity: .7;*/
/*    background-color: rgba(155, 255, 255, 0.4);*/
/*  -webkit-backdrop-filter: blur(5px);*/
  
}
.left-paddle {
  left: 0;
/*  filter: blur(15px);*/
/*    background-color: rgba(255, 155, 255, 0.4);*/
/*  -webkit-backdrop-filter: blur(5px);*/
}
.right-paddle {
  right: 0;
}
.hidden {
  display: none;
}

/* top menu format end */

.arrows .arrow {
  margin: -33px 0 0;
  padding: 20px;
  position: fixed;
  top: 50%;
  cursor: pointer;
  z-index: 3;
}
.inactive {
  opacity: 0.2;
  cursor: not-allowed;
  }
.arrows .prev {
  left: 60px;
}
.arrows .next {
  right: 60px;
}
.arrows .svg {
  position: relative;
  left: 0;
  width: 28px;
  height: 52px;
  fill: #fff;
  transition: left 0.2s ease;
}

/* the sun icon */
#myIcon {
  width: 60px;
  position: fixed;
  top: 90px;
  left: 48px;
  transition: 500ms ease-in-out;
  z-index: 9;
/*  border: 2px solid crimson;*/
  }

.header {
  display: flex;
  flex: 1;
/*  background: #999;*/
  color: #000;
  text-align: center;
  z-index: 8;
}
.header-columns{
  display: flex;
  flex:1;
  align-items: center;
    z-index: 8;
}
.main{
  flex: 1;
  order: 2;
/*  background: #eee;*/
    z-index: 8;
}
.nav-left{
  width: 10%;
/*  background: steelblue;*/
  order: 1;
    z-index: 8;
}
.nav-right{ 
  width: 10%;
  order: 3;
/*  background: steelblue;*/
    z-index: 8;
}

.info {
/*  text-align: center;*/
  color: #fff;
  margin: 0;
  display: visible;
/*  border: 2px solid steelblue;*/
  font-size: 3vw;
}

.wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 5%;
      color: whitesmoke;
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
/*      z-index: 8;*/
      z-index: 12;
/*      border: 2px solid lightcoral;*/
    } 


/*inserting for arc box div and arc*/
#arcBox {
/*
    background-color: lightcyan;
    position: absolute;
    top: 0;
    bottom: 0;
*/
}

#svg826 {
    z-index: 8;
    width: 63%;
    position: absolute;
    top: 25px;
    z-index: 2;
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
    bottom: 0;
/*    border: 2px solid crimson;*/
}

#incrementor {
    position: fixed;
    left: 44px;
    top: 155px;
    background-color: lightcyan;
    z-index: 8;
}

#changer {
    position: fixed;
    left: 44px;
    top: 300px;
    background-color: lightsteelblue;
    z-index: 8;
    font-size: 3vw;
    opacity: 0;
}

.theCircle {
    stroke:#FF8C00;
    stroke-opacity:1;
    stroke-width:1.0015748;
    stroke-miterlimit:4;
    stroke-dasharray:6.00944882,6.00944882;
    stroke-dashoffset:0;
    transform-box: fill-box;
    animation: hideshow 5s ease infinite;
    transform-origin: 50% 50%;
    animation-play-state: paused;
    
    r: 20px;
}

.thicker {
    stroke-width: 2;
    animation-play-state: running;
}

@keyframes hideshow {
  0% { 
      stroke-width: 2;
      transform: rotate(90deg) scale(1);
    }
  50% { 
      stroke-width: 6; 
      transform: rotate(360deg) scale(1.3);
    }
  100% { 
      stroke-width: 2;
      transform: rotate(90deg) scale(1);
    }
}

#itr {
    position: fixed;
    left: 44px;
    top: 185px;
    z-index: 8;
    width: 200px;
    display:block;
    visibility: hidden;
}

/*end that arc box div*/

.ratio-background {
/*      background-color: #3e4c53;*/
      background-color: #8b9498;
      width: 90%;
      margin-left: 3%;
      margin-right: 3%;
      z-index: 8;
      visibility: hidden;
    }
.ratio-main {
      height: 12px;
      width: 1px;
      background-color: whitesmoke;
      z-index: 8;
      visibility: hidden;
    }

.icon {
  line-height: 1;
  display: inline-flex;
  vertical-align: middle;
  z-index: 8;
}
.icon-line {
  display: flex;
  align-items: center;
  z-index: 8;
}

/* begin flex container for buttons */
.container{
    display: block;
    width: 50%;
    margin: 0 auto;
/*    background-color: lightcoral;*/
    position: fixed;
    top: 85%;
    left: 52%;
    transform: translate(-50%, -50%);
}
.grid {
  min-height: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid > div {
  display: flex; 
  flex-basis: calc(33.33% - 14px);  
  justify-content: center;
  flex-direction: column;
    height: 75px;
}
.grid > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box { 
/*    margin: 10px 0 10px 10px;*/
}
.box1 { 
/*    background-color: red; */
}
.box2 { 
/*    background-color: orange; */
}
.box3 { 
/*    background-color: purple; */
}

/*end of new flex container */


/*for the new enlarge/shrink icon*/
#expanderBTN {
    background-color: transparent;
/*    border: 2px solid crimson;*/
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
}
#svg975 {
    width: 50px;
    height: 50px;
    margin: 0;
    cursor: pointer;
}

/*lower right arrow*/
#path960 {
/*    transform-origin: 385px 285px;*/
    transform-origin: 75% 75%;
    transition: transform 750ms;
}
/*lower left arrow*/
#path958 {
/*    transform-origin: 240px 285px;*/
    transform-origin: 25% 75%;
    transition: transform 750ms;
/*    fill: crimson;*/
}
/*upper right arrow*/
#path95222 {
/*    transform-origin: 385px 160px;*/
    transform-origin: 75% 25%;
    transition: transform 750ms;
}
/*upper left arrow*/
#path88922 {
/*    transform-origin: 240px 160px;*/
    transform-origin: 25% 25%;
    transition: transform 750ms;
}
/*the upper left arrow rotation*/
.rotateUL {
  transform: rotate3d(-2,2, 0,-180deg);
  transition: transform 750ms;
}
/*the upper right arrow rotation */
.rotateUR {
  transform: rotate3d(-1, -1, 0, 180deg);
  transition: transform 750ms;
}
/*the lower right arrow rotation */
.rotateLR { 
  transform: rotate3d(-2,2, 0,-180deg);
  transition: transform 750ms;
}
/*the lower left arrow rotation */
.rotateLL { 
  transform: rotate3d(-1, -1, 0, 180deg);
  transition: transform 750ms;
}

/*for the new play icon*/

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
#svg959 {
  width: 100px;
  height: 100px;
  display: block;
/*    border: 2px solid crimson;*/
    background-color: transparent;
    cursor: pointer;
}
/*the ellipse*/
#path994 {
/*    opacity: 0;*/
}
.initial {
    transform-origin: 50% 50%;
    transform: scale(.75);
    animation: glowing 2s ease-in-out infinite alternate;
    animation-play-state:paused;
}
.rotate {
/*
    transform-origin: 50% 50%;
    animation: 3s linear infinite rotate-con;
    animation-play-state:paused;
*/
}
.playing {
    animation-play-state:running;
    filter: url(#blur);
}
#path889 {
    fill: #fff;
/*    display: none;*/
/*
    transform-origin: center center;
    transform: scale(.75);
*/
}
#path824 {
    fill: #fff;
/*    opacity: .5;*/
    
}
.hidden {
/*    display: none;*/
/*
    opacity: 0;
    transition: all 750ms;
*/
}

@keyframes rotate-con {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes glowing {
    0% {
        transform: scale(.68);
        opacity: 1;
    }
    100% {
        transform: scale(.85);
        opacity: .5;
    }
}

/*for the show/hide menu icon*/

/* 3 - the show menu button*/

input {
  display: none;
}
.menu {
  display: block;
  position: relative;
/*  top: 46vh;*/
/*  left: 46vw;*/
  background: rgba(171, 228, 244, 0.8);
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  cursor: pointer;
}
.menu div,
.menu div::before,
.menu div::after {
  height: 0.5vh;
  background: black;
  border-radius: 0.5vh;
}
.menu div {
  position: relative;
  top: 48%;
  left: 25%;
  width: 50%;
  transition: transform 0.5s cubic-bezier(0.7, 0.05, 0.68, 1.33);
}
.menu div::before, .menu div::after {
  content: "";
  position: absolute;
  width: 100%;
  transition: transform 0.25s ease;
}
.menu div::before {
  top: -1.3333333333vh;  
}
.menu div::after {
  top: 1.3333333333vh;
}

input[type=checkbox]:checked + .menu div {
  transform: rotate(-90deg);
}
input[type=checkbox]:checked + .menu div::before, input[type=checkbox]:checked + .menu div::after {
  right: -1.3333333333vh;
  transition: transform 0.6s ease;
}
input[type=checkbox]:checked + .menu div::before {
  transform: translateY(0.3636363636vh) rotate(45deg) scaleX(0.8);
}
input[type=checkbox]:checked + .menu div::after {
  transform: translateY(-0.3636363636vh) rotate(-45deg) scaleX(0.8);
}




/*RESPONSIVITY*/

/* for iPhone 2426 x 1125 */
@media (max-width: 1100px) {

    .container {
        width: 80%;
/*        background-color: lightcoral;*/
        top: 80%;
    }
    .grid > div {
      height: 150px;
    }
    #expanderBTN {
        width: 100px;
        height: 100px;
    }
    #svg975 {
       width: 100px;
       height: 100px;
    }
    #svg959 {
       width: 175px;
       height: 175px;
    }
    #svg1969 {
       width: 150px;
       height: 150px;
        opacity: .3;
    }
    .menu {
        width: 6vh;
        height: 6vh;
    }
    #swap {
        font-size: 3vw;
    }
    }

/* for iPad Mini 2048 x 1536 */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  {

/* STYLES GO HERE */
  
  }


/* for desktop 2560‑by‑1600 */

@media (min-width: 1100px) {

  .container {

  }

}

/* for click devices */

 @media (hover: hover) {

}

/* for toouch devices */

@media (hover: none) {

}

@-webkit-keyframes glowing--mobile {
  from {
    background-size: 60%;
  }
  to {
    background-size: 100%;
  }
}