@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap');

:root {
  /* --primary: #efeada; */
  --primary: whiteSmoke;
  --secondary: lightblue;
  --dark: #607d8b;
  --light: #f7f7f7;
  --shadow: 1px 0px 5px darkgray;

}
body {
  margin: 0;
  padding: 0;
  background: var(--light);
  font-family: 'Open Sans', sans-serif;
}
.section {
  padding: 70px 30px;
  /* background: #7B96A3; */
}
.container {
  max-width: 95%;
  margin: auto;
}
.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 15px 15px;
  justify-content: center;
  align-items: baseline;
}

.grid-row .grid-item span {
  padding: 10px;
  line-height: 1;
}
.grid-row .grid-item h3 {
  font-size: 20px;
  margin-bottom: 0;
}
.grid-row .grid-item:hover {
  /* filter: contrast(0.7); */
}
.grid-row .grid-item {
  transition: filter 0.5s ease;
  display: flex;
  cursor: pointer;
  /* background: var(--light); */
  background: #ececec;
  /* box-shadow: var(--shadow); */
  color: var(--dark);
  text-align: center;
  font-family: sans-serif;
  flex-direction: column-reverse;
  align-items: stretch;
  border: 2px solid #7B96A3;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

.masthead {
    background: #3e4c53;
/*    background: var(--dark);*/
  	/* box-shadow: 3px 3px 8px hsl(0, 0%, 70%); */
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ececec;
}

h2 {
  font-size: 2em;
  color: #e74c3c;
}

a {
  text-decoration: none; /* no underline */
}

.site-title {
    margin: 0 0 1em;
    padding: .5em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}

@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

blockquote {
  width: 50%;
  margin: 0 auto;
  color: var(--dark);
  margin-top: 150px;
}
