/*bring on the fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
	  font-family: "Roboto", sans-serif;
	  font-weight: 400;
	  font-style: normal;
	  text-align: center;
}

/*styles for the previous/next game schedule and location info*/
.schedulecontainer {
  border: 1px solid red;
  height: 15em;
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 2em;
}
.scheduleItem {
	border: 2px dashed skyblue;
	flex-basis: 22%;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.scheduleItem svg {
	width: 100%;
	stroke-width: 1px;
}

/* styles for the scoreboards */
/*scoreboards use grid not flex*/

#scoreboardcontainer {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 5vh;
}
/*#scoreboard is the main (center) scoreboard*/
/*.homeAway is used for the two smaller scoreboards*/
#scoreboard, .homeAway{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  font-family: "Overpass", sans-serif;
  padding: 5vw;
  z-index: 10;
  border: 2px solid crimson;
}
.homeAway {
	width: 100vw;
	height: 5vw;
  	line-height: 5vw;
	margin-top: 2em;
}
.title {
	display: inline-block;
/*	width: 45%;*/
	margin-top: -2em;
	margin-bottom: -2em;
	font-weight: 900;
}
.item {
  	border: 1px dashed blue;
	flex-basis: 25%
	align-items: center;
	background-image: url('');
  	background-repeat: no-repeat;
  	background-position: center;
	text-align: center;
    border: 1px solid #54796d;
    justify-content: center;
}

/* numbered items are the individual cells of the scoreboards*/
.item-1 {
  background-color: #54796d;
  grid-column: 1/ span 2;
  font-size: 2em;
  line-height: 2em;
  font-weight: 900;
}
.item-2 {
  background-color: #54796d;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 4em;
}
.item-3 {
  background-color: #54796d;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 4em;
}
/*items-sm are the cells for the smaller scoreboards*/
.item-1-sm {
  background-color: #54796d;
  grid-column: 1/ span 2;
  line-height: 2em;
  font-weight: 900;
  background-image: url('home.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
}
.item-2-sm {
  background-color: #54796d;
  height: 50px;
  line-height: 50px;
}
.item-3-sm {
  background-color: #54796d;
  height: 50px;
  line-height: 50px;
}

/*new grid*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid orange;
  width: 100%;
}
.grid-item {
 height: 2em;
 border: 2px dashed steelblue;
}

/*new nested grid*/

hr {
	color: #fff;
}
.wrapper {
		display: grid;
        grid-gap: 10px;
		grid-template-columns: repeat(4, [col] 300px ) ;
		grid-template-rows: repeat(2, [row] auto  );
		background-color: #fff;
		color: #fff;
	    font-family: "Overpass", sans-serif; 
	}

	.box {
		background-color: #54796d;
		color: #fff;
		border-radius: 5px;
		padding: 20px;
		font-size: 150%;

	}

	.box .box {
		background-color: #54796d;
		color: #fff;
	}

/*
	.a {
		grid-column: col / span 2;
		grid-row: row;
	}

	.b {
		grid-column: col 3 / span 2;
		grid-row: row;
	}
*/

	.c {
		grid-column: col / span 2;
		grid-row: row 2;
		background-image: url("boston-red-sox-logo-vector.svg");
		background-repeat: no-repeat;
	}

	.d{
		grid-column: col 3 / span 2;
		grid-row: row 2;
		display: grid;
        grid-gap: 15px;
		grid-template-columns: 1fr 1fr;
	}

	.e {
		grid-column: 1 / 3;
		grid-row: 1;
/*		border: 2px dashed #fff;*/
		font-size: 22px;
		padding: 0;
	}

	.f {
		grid-column: 1;
		grid-row: 2;
		padding-top: 0;
		height: 20px;
		border-bottom: 2px solid #fff;
	}

	.g {
		grid-column: 2;
		grid-row: 2;
		padding-top: 0;
		height: 20px;
		border-bottom: 2px solid #fff;
	}

.logo {
	width: 30px;
}