@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rethink+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url(https://fonts.googleapis.com/css?family=Raleway);


:root {
  --alison: #6600cc;
  --astro: #ff6633;
  --benjamin: #3399cc;
  --googie: #ffff33;
  --jenny: #cc33cc;
  --john: #336633;
  --kate: #33cc33;
  --katie: #cccc33;
  --peter: #339933;
  --roblyn: #3399cc;
  --ron: #669966;
}

html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

.years {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #bbb;
    text-align: left;
    padding: 10px;
	
	display: flex;
      justify-content: center; /* Horizontally centers the content */
      align-items: center;    /* Vertically centers the content */
      /* Optional: Adjust spacing between checkboxes */
      gap: 10px; 
}

label {
    margin-right: 15px;
}

input:checked + label {
  border-bottom: 3px solid crimson;
}

        
#chart {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 10px 20px;
  margin: 0 auto;
  margin-top: 50px;
}

#chart svg {
  position: absolute;
}

.boxLeft {
  position: absolute;
  padding: .5em;
  background-color: #fff;
  border: thin solid #bbb;
  width: 100px;
  text-align: center;
}

div:nth-of-type(1) {
/*  background-color: var(--alison);*/
}

div:nth-of-type(3) {
/*  background-color: var(--benjamin);*/
}

div:nth-of-type(4) {
/*  background-color: var(--googie);*/
}

div:nth-of-type(5) {
/*  background-color: var(--jenny);*/
}

div:nth-of-type(6) {
/*  background-color: var(--john);*/
}

.y2019 {
	stroke: coral;
}

.y2020 {
	stroke: steelblue;
}

.y2021 {
	stroke: darkseagreen;
}

.y2022 {
	stroke: crimson;
}

.y2023 {
	stroke: seagreen;
}

.y2024 {
	stroke: powderblue;
}

.boxRight {
  position: absolute;
  padding: .5em;
  border: thin solid black;
  background-color: white;
  width: 100px;
  text-align: center;
    
}

.boxYears {
  position: absolute;
  visibility:hidden;
  padding: .5em;
/*  border: thin solid black;*/
/*  background-color: white;*/
    color: #ddd;
  width: 100px;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
  text-align: center;
    
}

.inactive {
    color: #ccc;
    border: #000;
}

.connections {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
}
.draw {
  animation: dash 2s linear alternate; 
    animation-fill-mode: forwards;
}

#lineTestThree {
    animation-delay: 1000ms;
}

#boxR1 {
/*    border: 2px solid rebeccapurple;*/
}

.givenByAlison {
    background-color: rebeccapurple;
    color: #fff;
}


.recipient {
   position:absolute;
   background-position: center center;
   background-size: contain;
   background-repeat: no-repeat;
   right: -30px;
   background-color: #bbb;
   border: 2px solid #ccc;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   text-align: center;
   vertical-align: middle;
   line-height: 40px;
   font-size: 22px;
   color: #fff;
}

.recipient:hover {
/*
    background-color: lightblue;
    color: #000;
    fill: steelblue;
    width: 100px;
   height: 100px;
*/
}

.enlarge {
    background-color: lightblue;
    color: #000;
    fill: steelblue;
    width: 100px;
    height: 100px;
}

#circleP1 {
   top: 0px;
}

#circleP2 {
   top: 50px;
}

#circleP3 {
   top: 100px;
}

#circleP4 {
   top: 150px;
}

#circleP5 {
   top: 200px;
}

#circleP6 {
   top: 250px;
}

#circleP7 {
   top: 300px;
}

#circleP8 {
   top: 350px;
}

#circleP9 {
   top: 400px;
}

#circleP10 {
   top: 450px;
}

#circleP11 {
   top: 500px;
}

#circleP12 {
   top: 550px;
}

#check1:hover {
    color: crimson;
}

.checkboxes {
    float: left;
    display: block;
}

/* Hide the browser's default checkbox */
.checkboxes input {
/*
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
*/
}

.checkboxes input[type="checkbox"] {
/*
    outline: 1px solid #bbb;
    background-color: #c095c0;
*/
}

.boxLeft input[type="checkbox"]:checked {
  background: rebeccapurple;
  color: white;
}

.boxLeft input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  height: 16px;
  width: 16px;
  border: 1px solid #bbb;
  color: white;
}

.boxLeft input[type="checkbox"]:after {
  content: ' ';
  position: relative;
  left: 40%;
  top: 20%;
  width: 15%;
  height: 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(50deg);
  display: none;
}

.boxLeft input[type="checkbox"]:checked:after {
  display: block;
}

.givenByPeter {
  background: url("IMG_0592.png");
  background-position: center center;
  background-size: contain;
  background-color: #bbb;
  border: 2px solid #ccc;
  background-repeat: no-repeat;
  height: 50px;
  margin: -15px;
  width: 300px;
  position: absolute;
  right: -130px;
  top: 160px;
  clip-path: circle();
}

#tree {
  position: fixed;
    bottom: 0;
    left: 50%; /* Moves the left edge to the horizontal center */
    
    /* Pulls the element back by half of its own width to truly center it */
    transform: translateX(-50%); 
    width: 50px;
}

 @media (max-width: 768px) {

        }


@keyframes dash {
  from {
    stroke-dashoffset: 100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

